<app-navbar></app-navbar>
<app-ornament></app-ornament>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Welcome to the Editor's Area of ADAM</h2>
            <p>Here you will be able to add new and edit existing artifacts, persons and events, as well as edit featured <strong>items,</strong> <strong>news</strong> and <strong>compliance pages</strong>.</p>
            <p>Please check back for this functionality at a later time.</p>
            <img src="assets/img/editing-items.png" alt="Editing Items is coming soon." class="img-fluid">
            <p class="text-center"><span class="badge badge-success">Coming soon!</span> </p>

        </div>
        <div class="col-md-6 text-center">
            <h3>How to Edit and Create Content on ADAM</h3>
            <img src="assets/img/instructional-video.png" alt="The instructional video is coming soon." class="img-fluid">
            <p>Learn how to add new and edit existing artifacts, persons and events, as well as edit featured <strong>items,</strong> <strong>news</strong> and <strong>compliance pages</strong>.</p>
        </div>
    </div>
</div>
<app-ornament></app-ornament>
<app-footer></app-footer>
