<div class="alert alert-dark alert-dismissible fade show fixed-bottom m-2" role="alert">
    We use cookies and similar technologies for authentication and tracking. Please read more about our <a routerLink="/compliance/cookies">Cookie Policy.</a><a (click)="acceptCookies()" class="btn btn-sm btn-primary mx-2" data-dismiss="alert">Accept</a>
    <button type="button" (click)="acceptCookies()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div *ngIf="cookieValue=='accepted'">
    <app-tracking></app-tracking>
</div>