
.DS_Store
node_modules/*
dist/*
dist/adam-frontend/*
dist/adam-frontend/server/*
dist/adam-frontend/browser/*
e2e/*
package-lock.json
.idea/adam.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/rSettings.xml
.idea/vcs.xml
.idea/workspace.xml
dist/adam-frontend/server/main.js
dist/adam-frontend/server/main.js.map
