<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb" class="mt-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a  routerLink="/">Home</a></li>
                <li class="breadcrumb-item"><a  routerLink="/news">News</a></li>
                <li class="breadcrumb-item active" aria-current="page"><span class="blogPostBreadcrumb">{{ newsitem.title }}</span></li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-lg-7 col-sm-12 offset-md-1">
        <div *ngIf="newsitem" class="mt-2 mb-5">
            <h2 class="mr-4 my-4">{{ newsitem.title }}</h2>
            <div class="alert alert-danger text-center" role="alert">
                At present, all news articles only contain placeholder text.
            </div>
            <h3 class="mr-4 mb-4">{{ newsitem.shortdescription }}</h3>
            <div class="mr-4 mb-5">
                <img src="{{ newsitem.image}}" alt="{{ newsitem.title }}" align="right" class="ml-4 mt-2 mb-4 rounded img-fluid">
                <div [innerHTML]="newsitem.articletext"></div>
            </div>
            <div class="mr-4 mb-4"><img src="{{ newsitem.largeimage }}" class="img-fluid"></div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <h4 class="my-4">All Posts</h4>
        <ul>
            <li *ngFor="let item of newsitems.content" class="my-2"><a [routerLink]="['/newsarticle', (item.id)]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ item.title }}</a></li>
        </ul>
    </div>
</div>