.mainheader {
    background: /* top, transparent red */
    linear-gradient( rgba(0, 0, 0, 0.5), transparent), /* bottom, image */
    url('assets/img/new-media-art-background.jpg');
    background-size: cover;
    height: 38rem;
}

.mainheader h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 400%;
    text-shadow: 0 0 3px black;
    color: rgb(255,121,159);
}

.mainheader h2 {
    font-size: 200%;
    text-shadow: 0 0 3px black;
    color: rgb(0,123,255);
}

.mainheader p {
    font-size: 140%;
    text-shadow: 0 0 3px black;
    color: rgb(0,123,255);
}

#mainnav {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;
}

.absolute {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.absolute a {
    color: white;
    text-decoration: none;
}

.relative {
    position: relative;
}

.postheader {
    min-height: 7rem;
    background-image: url('assets/img/photographer-background.jpg');
    background-size: cover;
}

h1 {
    font-size: 3rem!important;
    color: rgb(255,121,159);
}

h2 {
    color: rgb(255,121,159);
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: rgb(0,123,255);
}

.search-field {
    width: 100%;
    text-align: center;
    padding:0.4rem;
    border-radius: 0.4rem;
    border: solid 2px rgb(0,123,255);
    color: rgb(0,123,255);
}

.darkened {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.4rem;
}

.highlighted {
    background: rgba(87,202,239, 0.5);
    border-radius: 0.4rem;
    margin-bottom: 1rem;
}

#features {
    height: 18rem;
    background-image: url('assets/img/background02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#features h3 {
    font-size: 300%;
    color: rgb(255,121,159);
}

#features h3, #features h4 {
    text-shadow: 0px 0px 4px black;
    color: rgb(255,121,159);
}

.choices {
    background-color: #f2f2f2;
}

.blogPostBreadcrumb {
    text-overflow: ellipsis;
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
}

.bloglist img {
    width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    background-image: url('assets/img/background04.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-shadow: 0px 0px 4px black;
}

#footercontact {
    padding: 1rem;
}
