<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <label class="control"><h3>Search the Archive of Digital Art & Media</h3>
                <input type="text" class="form-control text-center" placeholder="Search the items" [(ngModel)]="filter" >
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">

            <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">

                <nav aria-label="Search results">
                    <div class="btn-group" role="group" aria-label="Search result pages">
                        
                        <button type="button" class="btn btn-light" *ngIf="!p.isFirstPage()" (click)="p.previous()" aria-label="Previous">
                            <span> &laquo; Previous</span>
                        </button>

                        <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                            <button type="button" class="btn btn-light" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                                <span>{{ page.label }}</span>
                            </button>
                            <button type="button" class="btn btn-primary" aria-current="page" *ngIf="p.getCurrent() === page.value" >
                                <span>{{ page.label }}</span>
                            </button>
                        </div>

                        <button type="button" class="btn btn-light" *ngIf="!p.isLastPage()" (click)="p.next()" aria-label="Next">
                            <span>Next &raquo;</span>
                        </button>

                    </div>
                </nav>

            </pagination-template>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 text-center my-1" *ngFor="let item of allData | paginate: config">
                    <a routerLink="/item/{{ item.category }}/{{ item.id }}"><img src="{{ item.images[0].url }}" alt="{{ item.name }}" class="img-fluid rounded"></a>
                    <p><a routerLink="/item/{{ item.category }}/{{ item.id }}">{{ item.name }}</a></p>
                </div>
            </div>

        </div>
    </div>

</div>
<app-footer></app-footer>