<div class="row mt-4 pb-4">
	<div class="col-md-8 offset-md-2 text-center mb-4">
        <div class="highlighted p-4">
            <h2>Anmerkung</h2>
            <p>Dieses Webfrontend hat noch keine funktionierende Suche. Die Daten kommen auch noch nicht von der API (auf <a href="http://adam-interface.herokuapp.com/">adam-interface.herokuapp.com</a> verfügbar).</p><p>Bitte um etwas Geduld. Das wird noch nachgereicht.</p>
        </div>
        <h3>Digital Art Preserved For The Future</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
		<p><input matInput placeholder="Search the Archive of Digital Art & Media" name="search" type="text" autofocus class="p-2 search-field"></p>
        <p><a class="btn btn-outline-secondary" routerLink="/portfolio">Search</a></p>
    </div>
</div>