<div class="row pt-3 mb-2 pb-4">
  <div class="col-12 text-center">
    <div class="row p-3">
      <div class="col-12 text-center">
        <h2>Archive Categories</h2>
        <h3>Search Our New Media Art Archive.</h3>
      </div>
    </div>

    <div class="row m-1">
      <div class="col-md-8 offset-md-2 text-center">
        <p><input matInput placeholder="Search the Archive of Digital Art & Media" name="search" type="text" class="p-2 search-field"></p>
        <p><a class="btn btn-outline-secondary" routerLink="/archive">Search</a></p>
      </div>
    </div>
    

    <div class="row px-3">

			<div class="col-lg-4 col-sm-6 text-center my-3">
        <div class="relative text-center">
          <a [routerLink]="['/category/artifacts']">
            <img src="{{ artifactImage.url }}" alt="{{ artifactCategory.name }}" class="img-fluid rounded">
          </a>
          <div class="absolute text-white">
            <h3 class="pt-1 px-2"><a [routerLink]="['/category/artifacts']">Artifacts</a></h3>
          </div>
        </div>
      </div>
      
			<div class="col-lg-4 col-sm-6 text-center my-3">
        <div class="relative text-center">
          <a [routerLink]="['/category/persons']">
            <img src="{{ personImage.url }}" alt="{{ personCategory.name }}" class="img-fluid rounded">
          </a>
          <div class="absolute text-white">
            <h3 class="pt-1 px-2"><a [routerLink]="['/category/persons']">Persons</a></h3>
          </div>
        </div>
      </div>

			<div class="col-lg-4 col-sm-6 text-center my-3">
        <div class="relative text-center">
          <a [routerLink]="['/category/events']">
            <img src="{{ eventImage.url }}" alt="{{ eventCategory.name }}" class="img-fluid rounded">
          </a>
          <div class="absolute text-white">
            <h3 class="pt-1 px-2"><a [routerLink]="['/category/events']">Events</a></h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
