<app-navbar></app-navbar>

<div class="container-fluid">
	<div class="row my-4">
		<div class="col-12 text-center">
			<h2>Contact ADAM</h2>
		</div>
	</div>

	<div class="row mb-4 px-3">
	    <div class="col-md-4 offset-md-2">
	        <h3>ADAM<br>Archive of Digital Art & Media</h3>
	        <p><strong>Address:</strong><br>
	        Stolzenthalergasse 12/4<br>
	        1080 Vienna</p>
	        <p><strong>Tel:</strong>&nbsp;0123 / 123 456 789</p>
			<p><strong>Email:</strong>&nbsp;<a href="mailto:archive@adam.com">archive@adam.com</a></p>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2658.869284806061!2d16.339884951619755!3d48.20913365405089!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d07eeb1d1eacb%3A0x117e06e3ee00668f!2sStolzenthalergasse%2012%2C%201080%20Wien%2C%20%C3%96sterreich!5e0!3m2!1sde!2sbg!4v1596720943439!5m2!1sde!2sbg" width="400" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	    </div>
	    <div class="col-md-4 px-4">
	    	<h3>Contact Form</h3>
			<form [formGroup]="info" (ngSubmit)="onSubmit()">
			  <div class="form-group">
			    <label for="userName">Name</label>
			    <input type="text" class="form-control" id="userName" formControlName="userName" aria-describedby="emailHelp">
			  </div>
			  <div class="form-group">
			    <label for="userEmail">Email address</label>
			    <input type="email" class="form-control" id="userEmail"  formControlName="userEmail" aria-describedby="emailHelp">
			  </div>
			  <div class="form-group">
			    <label for="userMessage">Message</label>
			    <textarea name="usermessage" class="form-control" id="userMessage"  formControlName="userMessage" aria-describedby="emailHelp"></textarea>
			  </div>
			  <input type="submit" class="btn btn-outline-secondary" value="submit">
			</form>
	    </div>
	</div>
</div>

<app-footer></app-footer>
