.dp-calendar-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 72px);
    overflow: auto;
    margin: 0 -20px;
    padding:0 20px
}

.dp-calendar-wrapper .dp-date-input-container {
    position: -webkit-sticky;
    position: sticky;
    min-height: 85px;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background: #fff;
    z-index:10
}

.dp-calendar-wrapper .dp-date-input-container.dp-inline {
    min-height:360px
}

.dp-calendar-wrapper .dp-date-input-container .dp-form-item {
    display: flex;
    flex-direction:column
}

.ddp-calendar-wrapper .dp-date-input-container .dp-form-item .dp-validations {
    color: red;
    font-size:12px
}

.dp-calendar-wrapper dp-config-form {
    flex: 1
}

