<div class="row pt-4 mt-2">
    <div class="col-12 text-center">
        <div class="row pt-2">
            <div class="col-12 text-center">
                <h3>Contribute to ADAM</h3>
            </div>
        </div>
        <div class="row px-5 pt-3 pb-5">
            <div class="col-lg-4 col-sm-6 text-center px-5 d-flex flex-column">
            	<div class="mx-5">
                	<img src="assets/img/contribute1.jpg" alt="Contribute to ADAM 1" class="py-2 img-fluid rounded-circle">
            	</div>
                <h3 class="py-2">At vero eos et accusam</h3>
                <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center px-5 d-flex flex-column">
            	<div class="mx-5">
                	<img src="assets/img/contribute2.jpg" alt="Contribute to ADAM 2" class="py-2 img-fluid rounded-circle">
            	</div>
                <h3 class="py-2">Justo duo dolores et ea rebum</h3>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center px-5 d-flex flex-column">
            	<div class="mx-5">
                	<img src="assets/img/contribute3.jpg" alt="Contribute to ADAM 3" class="py-2 img-fluid rounded-circle">
                </div>
                <h3 class="py-2">Labore et dolore magna aliquyam erat</h3>
                <p>Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim.</p>

            </div>
        </div>
    </div>
</div>

<div class="row p-3 text-white" id="features">
    <div class="col offset-lg-1 mt-3 py-4 text-center">
        <h4>Countering The Loss</h4>
        <h3>Adventures in New Media Art</h3>
        <a class="btn btn-light mt-4" routerLink="/archive">Browse Archive</a>
    </div>
</div>