<div class="row pt-4 mt-2">
    <div class="col-12 text-center">
        <div class="row pt-2">
            <div class="col-12 text-center">
                <h3>Contribute to ADAM</h3>
            </div>
        </div>
        <div class="row px-5 pt-3 pb-5">
            <div class="col-lg-4 col-sm-6 text-center px-5 d-flex flex-column">
            	<div class="mx-5">
                	<img src="assets/img/contribute1.jpg" alt="Contribute to ADAM 1" class="py-2 img-fluid rounded-circle">
            	</div>
                <h3 class="py-2">Coming Soon</h3>
                <p>The brand-new editor's area in the Archive of Digital Art & Media will be <strong>launching soon.</strong></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center px-5 d-flex flex-column">
            	<div class="mx-5">
                	<img src="assets/img/contribute2.jpg" alt="Contribute to ADAM 2" class="py-2 img-fluid rounded-circle">
            	</div>
                <h3 class="py-2">Edit and Create Articles</h3>
                <p>You can then join the community and edit existing articles or create new ones. Contribute to documenting the rapidly evolving field of new media art.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center px-5 d-flex flex-column">
            	<div class="mx-5">
                	<img src="assets/img/contribute3.jpg" alt="Contribute to ADAM 3" class="py-2 img-fluid rounded-circle">
                </div>
                <h3 class="py-2">Social Media Login</h3>
                <p>No need for additional user credentials, simply use your existing account at Google, Facebook or Github to login.</p>

            </div>
        </div>
    </div>
</div>

<div class="row p-3 text-white" id="features">
    <div class="col offset-lg-1 mt-3 py-4 text-center">
        <h4>Countering The Loss</h4>
        <h3>Adventures in New Media Art</h3>
        <a class="btn btn-light mt-4" routerLink="/archive">Browse Archive</a>
    </div>
</div>