<app-navbar></app-navbar>
<app-carousel></app-carousel>

<div class="row my-md-2 py-3 mt-2 px-3">
    <div class="col-8 offset-2 pr-3 text-center">
        <h1>Archive of Digital Art & Media</h1>
        <p>This database of new media art charts contemporary digital art in its various manifestations (artists, collections, exhibitions, etc.) from the latter half of the 20<sup>th</sup> century onwards.</p>
    </div>
</div>

<div class="row choices">
	<div class="container">
		<app-archivecategories></app-archivecategories>
    </div>
</div>

<div class="container">
    <div class="row pt-4 mt-2">
        <div class="col-12 text-center">
            <div class="row pt-2">
                <div class="col-12 text-center">
                    <h3>Contribute to ADAM</h3>
                </div>
            </div>
            <div class="row px-5 pt-3 pb-5">
                <div class="col-lg-4 col-sm-6 text-center px-5 d-flex flex-column">
                    <div class="mx-5">
                        <img src="assets/img/contribute1.jpg" alt="Contribute to ADAM 1" class="py-2 img-fluid rounded-circle">
                    </div>
                    <h3 class="py-2">Coming Soon</h3>
                    <p>The brand-new editor's and administrator's area at ADAM, the Archive of Digital Art & Media, will be <strong>ready soon.</strong></p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center px-5 d-flex flex-column">
                    <div class="mx-5">
                        <img src="assets/img/contribute2.jpg" alt="Contribute to ADAM 2" class="py-2 img-fluid rounded-circle">
                    </div>
                    <h3 class="py-2">Edit and Create Articles</h3>
                    <p>You can then join the community and edit existing articles or create new ones. Contribute to documenting the rapidly evolving field of new media art.</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center px-5 d-flex flex-column">
                    <div class="mx-5">
                        <img src="assets/img/contribute3.jpg" alt="Contribute to ADAM 3" class="py-2 img-fluid rounded-circle">
                    </div>
                    <h3 class="py-2">Social Media Login</h3>
                    <p>You can register with ADAM, or if you don't want additional user credentials, simply use your existing account at Google to login.</p>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row p-3 text-white" id="features">
    <div class="col-12 mt-3 py-4 text-center">
        <h4>At the Cross section of Art & Technology</h4>
        <h3>Adventures in New Media Art</h3>
        <a class="btn btn-light mt-4" routerLink="/archive">Browse Archive</a>
    </div>
</div>

<div class="container">
	<app-newslist></app-newslist>
</div>

<app-cookiewarning></app-cookiewarning>
<app-footer></app-footer>