<header class="mainheader p-4">
    <app-navbar></app-navbar>

    <div class="row pt-5 text-white mb-5">
        <div class="col-lg-6 p-md-4 col-md-12 darkened">
            <h2>The Database of New Media Art</h2>
            <h1>ADAM, the Archive of Digital Art & Media</h1>
            <p>Charting the development of contemporary digital art in its various manifestations (artists, collections, exhibitions, etc.) from the latter half of the 20th century onwards.</p>
        </div>
    </div>
</header>