<app-navbar></app-navbar>

<div class="container-fluid">

  <div class="row">
    <div class="col-10">
      <nav aria-label="breadcrumb" class="mt-2">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a  routerLink="/">Home</a></li>
              <li class="breadcrumb-item"><a  routerLink="/archive">Archive</a></li>
              <li class="breadcrumb-item"><a  routerLink="/category/{{ archiveCategory.name | lowercase }}">Archive Category: {{ archiveCategory.name }}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ archiveItem.name }}</li>
          </ol>
      </nav>
    </div>
    <div class="col-2 mt-2">
      <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=large&width=77&height=28&appId" width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><br>
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="btn btn-sm btn-primary twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

</div>

<div class="container">
  <div class="row my-4">
    <div class="col-8">
      <h3>{{ archiveItem.name }}</h3>
      <p>{{ archiveItem.longdescription }}</p>
    </div>
    <div class="col-4">
      <p><img src="{{ archiveItem.images[0].url }}" alt="{{ archiveItem.name }}" class="img-fluid"></p>
    </div>
  </div>
</div>

<app-footer></app-footer>
