<app-navbar></app-navbar>
<app-ornament></app-ornament>
<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <nav aria-label="breadcrumb" class="mt-2">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a  routerLink="/">Home</a></li>
              <li class="breadcrumb-item"><a  routerLink="/archive">Archive</a></li>
              <li class="breadcrumb-item"><a  routerLink="/category/{{ archiveCategory }}">Archive category: {{ archiveCategory }}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ archiveItem.name }}</li>
          </ol>
      </nav>
			<div class="btn-group ml-2 mb-2">
				<button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Share this page
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
          <a class="dropdown-item" data-toggle="modal" data-target="#shareLink">Get Sharable Link</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://www.facebook.com/sharer/sharer.php?u=http://demoarchive.art/#/item/{{ pageUrl }}" target="_blank">Share on Facebook</a>
          <a class="dropdown-item" href="https://twitter.com/intent/tweet?url=http://demoarchive.art/#/item/{{ pageUrl }}" target="_blank">Share on Twitter</a>
        </div>
      </div>
      <button *ngIf="auth.loggedIn" class="btn btn-outline-danger btn-sm ml-2 mb-2" data-toggle="modal" data-target="#editItem">Edit item</button>
    </div>
  </div>

</div>

<!-- Modal for shareable link -->
<div class="modal fade" id="shareLink" tabindex="-1" aria-labelledby="shareLink" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareLinkLabel">Share Link</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Share this direct link to this item with others:</p>
        <p class="alert alert-success text-center"><a href="https://demoarchive.art/#/item/{{ pageUrl }}">https://demoarchive.art/#/item/{{ pageUrl }}</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for editing items -->
<div *ngIf="auth.loggedIn" class="modal fade" id="editItem" tabindex="-1" aria-labelledby="editItem" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editItemLabel">Edit "{{ archiveItem.name }}"</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="alert alert-danger text-center">Editing is coming soon!</p>
        <form>
          <div class="form-group">
            <label for="categorySelect">Category</label>
            <select class="form-control" id="categorySelect">
              <option>Artifact</option>
              <option>Person</option>
              <option>Event</option>
            </select>
          </div>
          <h4>Description</h4>
          <div class="form-group">
            <label for="itemName">Name</label>
            <input type="text" value="{{ archiveItem.name }}" class="form-control" id="itemName">
          </div>
          <div class="form-group">
            <label for="shortDescription">Short Description</label>
            <input type="text" class="form-control" id="shortDescription" value="{{ archiveItem.shortdescription }}">
          </div>
          <div class="form-group">
            <label for="longDescription">Long Description</label>
            <textarea class="form-control" id="longDescription" rows="4" value="{{ archiveItem.longdescription }}"></textarea>
          </div>
          <h4>Images</h4>
          <div class="form-group">
            <div *ngFor="let item of archiveItem.images" class="alert alert-secondary p-3">
              <p><strong>Image ID: {{item.id}}</strong></p>
              <label for="name{{item.id}}" class="mt-2">Image Name</label>
              <input type="text" value="{{ item.name }}" id="name{{item.id}}" class="form-control">
              <label for="url{{item.id}}"class="mt-2">Image Path (URL)</label>
              <input type="text" value="{{ item.url }}" id="name{{item.id}}" class="form-control">
              <label for="description{{item.id}}" class="mt-2">Image Description</label>
              <textarea value="{{ item.description }}" id="description{{item.id}}" rows="2" class="form-control"></textarea>
              <button class="btn btn-outline-danger btn-sm mt-1">Remove</button>
            </div>
          </div>
          <div class="form-group mt-2">
            <label for="newimageUpload" class="mt-2"><strong>Upload New Image</strong></label> 
            <input type="file" class="form-control-file" id="newimageUpload">
            <label for="newimagename" class="mt-2">New Image Name</label> 
            <input type="text" class="form-control" id="newimagename">
            <label for="newimagedescription" class="mt-2">New Image Name</label> 
            <input type="text" class="form-control" id="newimagedescription">
          </div>
          <button class="btn btn-outline-primary btn-sm">Add another image</button>
          <h4 class="mt-3">Videos</h4>
          <div class="form-group">
            <div *ngFor="let item of archiveItem.videos" class="alert alert-secondary p-3">
              <p><strong>Video ID: {{item.id}}</strong></p>
              <label for="name{{item.id}}" class="mt-2">Video Name</label>
              <input type="text" value="{{ item.name }}" id="name{{item.id}}" class="form-control">
              <label for="url{{item.id}}"class="mt-2">Video Path (URL)</label>
              <input type="text" value="{{ item.url }}" id="name{{item.id}}" class="form-control">
              <label for="description{{item.id}}" class="mt-2">Video Description</label>
              <textarea value="{{ item.description }}" id="description{{item.id}}" rows="2" class="form-control"></textarea>
              <button class="btn btn-outline-danger btn-sm mt-1">Remove</button>
            </div>
          </div>
          <div class="form-group mt-4">
            <p><strong>Add New Video</strong></p>
            <label for="newvideoname" class="mt-2">New Video Name</label>
            <input type="text" class="form-control" id="newvideoname" >
            <label for="newvideolink" class="mt-2">New Video Link</label>
            <input type="text" class="form-control" id="newvideolink" placeholder="https://...">
            <label for="newvideodescription" class="mt-2">New Video Description</label>
            <textarea type="text" class="form-control" id="newvideodescription"></textarea>
          </div>
          <button class="btn btn-outline-primary btn-sm mt-1">Add another video</button>
          <h4 class="mt-3">Keywords</h4>
          <div class="form-group mt-2">
            <label for="itemName">Keywords</label>
            <input type="text" class="form-control" id="itemName" value="{{ archiveItem.tags }}">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-4">
    <div class="col-lg-8 border-bottom">
      <span class="badge badge-secondary">{{ archiveCategory | titlecase }}</span>
      <h2>{{ archiveItem.name }}</h2>
      <div class="alert alert-danger text-center" role="alert">
        At present, all items only contain placeholder text.
    </div>
      <div [innerHTML]="archiveItem.longdescription"></div>

			<div class="row">
				<div class="col-12">
					<p class="mt-4">
            <strong>Keywords:</strong>
            <span class="btn btn-warning m-1" *ngFor="let tag of archiveItem.tags">{{ tag }}</span>
          </p>

				</div>
			</div>

    </div>
    <div class="col-lg-4 ">
      <div class="row">
        <div class="col-12 text-center">
          <h3>Images</h3>
        </div>
      </div>
      <div class="row pt-3 border">
        <div class="col-6 text-center" *ngFor="let item of archiveItem.images" (click)="setCarouselActiveID(item.id)">
          <a href="#" data-toggle="modal" data-target="#carouselModal" >
            <img src="{{ item.url }}" class="img-fluid rounded-lg" alt="{{ item.name }}">
            <p>{{ item.name }}</p>
          </a>
        </div>
      </div>

      <div class="modal fade" id="carouselModal" tabindex="-1" aria-labelledby="carouselModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="carouselModalLabel">Images for "{{ archiveItem.name }}"</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <div id="carouselCaptions" class="carousel slide" data-ride="carousel" data-interval="false" touch="true">
                <ol class="carousel-indicators">
                  <li data-target="#carouselCaptions" *ngFor="let item of archiveItem.images; let isFirst = first" [class.active]="isFirst"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item" *ngFor="let item of archiveItem.images; let isFirst = first" [class.active]="isFirst" id="{{ item.id }}">
                    <img src="{{ item.url }}" class="d-block w-100" alt="{{ item.name }}" >
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselCaptions" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselCaptions" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center mt-3">
          <h3>Videos</h3>
        </div>
      </div>
      <div class="row pt-3 border">
        <div *ngFor="let item of archiveItem.videos" class="col-6 p-3">
          <div class="text-center alert alert-primary"><a href="{{ item.url }}" target="_blank"><img src="../assets/img/yt-icon.png" height="35px" alt="Youtube Video Link" class="m-2"><br>{{ item.name }}</a></div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center mt-3">
          <h3>Related Websites</h3>
        </div>
      </div>
      <div class="row pt-3 border">
        <div *ngFor="let item of archiveItem.websiteURLs" class="col-6 p-3">
          <div class="text-center alert alert-success"><a href="{{ item.url }}" target="_blank"><img src="../assets/img/ws-icon.png" height="35px" alt="Link to Website" class="m-2"><br>{{ item.name }}</a></div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center mt-3">
          <h3>Related Assets</h3>
        </div>
      </div>
      <div class="row pt-3 border">
        <div *ngFor="let item of archiveItem.assets" class="col-6 p-3">
          <div class="text-center alert alert-secondary"><a href="{{ item.url }}" target="_blank"><img src="../assets/img/as-icon.png" height="35px" alt="Link to assets" class="m-2"><br>{{ item.name }}</a></div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3>Related Archive Entries</h3>
    </div>
  </div>

  <div class="row">
    <!-- Related persons -->
    <div class="col-lg-2 col-md-3 text-center my-1" *ngFor="let item of relatedPersons">
      <a routerLink="/item/persons/{{ item.id }}"><img src="{{ item.images[0].url }}" alt="{{ item.name }}" class="img-fluid rounded"></a>
      <span class="badge badge-secondary">Person</span>
      <p><a routerLink="/item/persons/{{ item.id }}">{{ item.name }}</a></p>
    </div>

    <!-- Related artifacts -->
    <div class="col-lg-2 col-md-3 text-center my-1" *ngFor="let item of relatedArtifacts">
      <a routerLink="/item/artifacts/{{ item.id }}"><img src="{{ item.images[0].url }}" alt="{{ item.name }}" class="img-fluid rounded"></a>
      <span class="badge badge-secondary">Artifact</span>
      <p><a routerLink="/item/artifacts/{{ item.id }}">{{ item.name }}</a></p>
    </div>

    <!-- Related events -->
    <div class="col-lg-2 col-md-3 text-center my-1" *ngFor="let item of relatedEvents">
      <a routerLink="/item/events/{{ item.id }}"><img src="{{ item.images[0].url }}" alt="{{ item.name }}" class="img-fluid rounded"></a>
      <span class="badge badge-secondary">Event</span>
      <p><a routerLink="/item/events/{{ item.id }}">{{ item.name }}</a></p>
    </div>
  </div>
</div>

<app-footer></app-footer>
