<div class="row my-md-2 py-3 mt-2 px-3">
    <div class="col-md-6 pr-3">
        <h3>Digital Art Through The Ages</h3>
        <h2>About ADAM</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
        <p><a class="btn btn-outline-secondary" routerLink="/blog">Read More</a></p>
    </div>
    <div class="col-md-6">
        <img src="assets/img/new-media-intro.jpg" class="img-fluid d-xs-none rounded-lg" alt="Archive of Digital Art & Media">
    </div>
</div>
