<footer class="text-light p-5">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <h4 class="my-4">About ADAM</h4>
            <p> At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-lg-3 col-sm-6">
            <h4 class="my-4">Quick Links</h4>
            <ul>
                <li class="my-2"><a routerLink="/" class="text-white">Home</a></li>
                <li class="my-2"><a routerLink="/about" class="text-white">About ADAM</a></li>
                <li class="my-2"><a routerLink="/blog" class="text-white">ADAM News</a></li>
                <li class="my-2"><a routerLink="/contact" class="text-white">Contact</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-sm-6">
            <h4 class="my-4">Latest News</h4>
			<ul>
				<li *ngFor="let item of blogitems" class="my-2"><a [routerLink]="['/blogpost', (item.urlAddress).toLowerCase()]" class="text-white">{{ item.title }}</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-sm-6">
            <h4 class="my-4">Subscribe to Our Newsletter</h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <p><input type="text" id="footercontact" name="contact" placeholder="Enter your email address"></p>
            <p><button class="btn btn-outline-light">Subscribe</button></p>
        </div>
    </div>
    <div class="row mt-4 border-top">
        <div class="col-12 pt-4">
            Copyright © 2020 ADAM - Archive of Digital Art & Media - Developed by Marin Balabanov (more infos at <a href="https://mbalabanov.github.io/adam" class="text-white">mbalabanov.github.io/adam</a>)
        </div>
    </div>
</footer>